@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0px;
  font-family: "Poppins", sans-serif;
  padding: 0px;
}

body {
  background-color: white;
  background-image: url(https://images.pexels.com/photos/54455/cook-food-kitchen-eat-54455.jpeg?cs=srgb&dl=pexels-pixabay-54455.jpg&fm=jpg&_gl=1*1jfpthr*_ga*MTc4NzAwMzU3LjE2NjMzNDA1MDM.*_ga_8JE65Q40S6*MTY2Nzg5OTMyNy4xMy4xLjE2Njc5MDA0MjUuMC4wLjA.);
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
}

.specials{
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px ;
}
.navbar {
  display: inline;
  background-color: white;
  overflow: hidden;
  height: 50px;
}

.navbar a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  float: left;
}

.navbar span {
  float: right;
}

.navbar a:hover {
  background-color: white;
  color: black;
  border-radius: 10px;
}

.navbar a.active {
  background-color: #04aa6d;
  color: white;
}

.heads {
  color: white;
  padding-top: 100px;
  padding-left: 100px;
}

.heads h2 {
  padding-top: 10px;
}



.sp1 {
  margin: 10px;
  padding: 10px;
  border: 1px solid lightgray;
  width: 300px;
  border-radius: 10px;
  color: white;
}

.sp2 {
  margin: 10px;
  padding: 10px;
  border: 1px solid lightgray;
  width: 300px;
  border-radius: 10px;
  color: black;
}


.sp {
  width: 100%;
  height: 300px;
  border-radius: 18px;
}

.btn {
  background-color: orange;
  padding: 10px 24px;
  border-radius: 90px;
  border: none;
  color: white;
}

button:hover {
  background: red;
  border: 4px;
}

.beveeage h1{
  padding-left: 100px;
  padding-top: 350px;
  font-size: 35px;
  text-decoration: underline;
}

.beveeage h2{
  padding-left: 100px;
  padding-top: 10px;
}

.chinese h2{
  padding-left:100px ;
  padding-top: 50px;;

}

.southind{
  padding-left: 100px;
  padding-top: 50px;
}

.northind{
  padding-left: 100px ;
  padding-top:50px ;
}
